# Build
build/
cmake-build-*/
out/
*.obj
*.lib
*.exe
*.pdb
*.ilk
*.exp

# IDE
.vs/
.vscode/
*.suo
*.user
*.sln
*.vcxproj*
CMakeSettings.json

# OS
Thumbs.db
Desktop.ini
.DS_Store

# Env
.env

# Claude
.claude/
